@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

.jost-font-uppercase {
  font-family: "Jost", sans-serif;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.jost-font-capitalize {
  font-family: "Jost", sans-serif;
  font-style: normal;
  line-height: normal;
}


/* Dropdown option hover background color */
.custom-select option:hover {
  background-color: #00B5A5;
  color: white;
}

/* Selected option background color */
.custom-select option:checked {
  background-color: #00B5A5;
  color: white;
}